@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Kalam", cursive, "Poppins", sans-serif;
  height: 3000px;
}
.navbar {
  transform: translateX(195%) translateY(0px) translateZ(0px);
}
.home img {
  width: 15rem;
  margin-top: 5rem;
}
.home {
  background: linear-gradient(#caedff, #fff);
}
.home h1 {
  font-size: 3rem;
  font-family: "Permanent Marker", cursive;
}
.home p {
  font-size: 1.5rem;
}
.galeri {
  background: linear-gradient(#fff, #caedff, #fff);
}
.col-1 a {
  padding: 1rem;
  background-color: #caedff;
  color: #1a1c22;
  border-radius: 100%;
}
